* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  transition: all 0.4s ease;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: white;
  box-shadow: 1px 1px 10px 1px gray;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}
.text{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  flex: 1;
}
.shadow{
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}